@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-text:#111827;
    --primary-background: #F3E8FF;
    --gradient-color:linear-gradient(87deg, #3B82F6 2.58%, #D946EF 105.04%), #F9FAFB;
    --active-color:#D946EF;
    --secondary-background:#1F2937;
    }
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.postcard{
    border-radius: 28px;
    width: 300px;
 display: flex;
 flex-direction: column;
 padding: 24px 24px;
 align-items: center;
 justify-content: center;
 flex-shrink: 0;
}

.posttext{
    width: 80%;
}
.postimg{
  width: 80%;
  height: auto;

}
.postimg img{
    width: 100%;
height: 200px;
background-image: contain;
}

.posttitle{
color: #111827;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 30px;
 /* 107.143% */
}
.postlink{
    text-decoration: none;
    color: #111827;
}
time{
    color: var(--primary-text);
    opacity: 0.8;
   text-align: flex-end;
}

.author{
    display: flex;
  gap: 3px;
}
  
.postdesc{
    color: var(--secondary-background);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
width: 100%;
}


